@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&display=swap');

*::selection {
    background-color: #2BC5B4;
    color: white;
}

body {
    font-family: "Inter";
    background-color: #F6F6F6;
    overflow: hidden;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.main {
    overflow: hidden;
    position: relative;
    height: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.2rem;
    margin-left: 5px;
}

.navigation {
    width: 100vw;
    margin: auto;
    display: flex;
    padding-left: 1rem;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    position: relative;
    z-index: 5;
    border-bottom: 0.21px solid rgb(190, 190, 190);
    box-shadow: 0px 0px 15px;
}

/* --------------------------------------------------  Navigation Left Nav Options   -------------------------------------------------------- */


.left-nav-option {
    display: flex;
    width: 25vw;
    max-width: 330px;
    min-width: 172px;
    justify-content: space-between;
}

.nav-options {
    margin: auto 1rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.nav-options a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0px 6px;
}

.brand {
    display: flex;
}

.brand img {
    height: 2.5rem;
    border-radius: 50%;
    margin: auto;
}

/* --------------------------------------------------  Search Bar Input   -------------------------------------------------------- */

.search-bar {
    display: flex;
    width: 43%;
    position: relative;
    align-items: center;
}

.search-bar input {
    width: 100%;
    height: 2.4rem;
    border-radius: 30px;
    text-align: center;
    border: none;
    outline: none;
}

.search-bar i {
    position: relative;
    left: 39%;
    color: #888;
    font-size: 0.9rem;
}

.search-bar input::placeholder {
    font-size: 0.9rem;
}


/* --------------------------------------------------  Login Account   -------------------------------------------------------- */

.account {
    width: 20vw;
    min-width: 194px;
    margin-right: 1rem;
    height: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

h3 {
    font-size: 1.1rem;
    margin: auto;
    margin-right: 4px;
    font-family: "Playfair Display", serif;
}

.account img {
    margin-left: 0.5rem;
    height: 3.2rem;
    width: 3.32em;
    border-radius: 50%;
}

/* --------------------------------------------  Nav Bar media query      -------------------------------------------------------------------------- */

@media(max-width:1000px) {
    .brand h1 {
        display: none;
    }

    .left-nav-option {
        justify-content: start;
    }

    .nav-options {
        width: 60%;
    }
}

/*  --------------------------------------------  Content      -------------------------------------------------------------------------- */

.content {
    position: relative;
    height: 80%;
    width: 100%;
    display: flex;
    padding-right: 20px;
}

.sidebar {
    background-color: #F6F6F6;
    min-width: 150px;
    height: 100%;
    padding: 1rem 2rem;
    overflow: auto;
}

.box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1REM;
}

h4 {
    color: #828DA8;
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 6px;
}

.box a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.700);
    line-height: 2.4;
    font-weight: 600;
    font-size: 0.9rem;
}

.box i {
    margin-right: 0.4rem;
    font-size: 1.2rem;
}

.box a:hover {
    color: rgb(0, 0, 0) ;
}

.play-list-button button {
    padding: 0.8rem 1rem;
    border-radius: 20px;
    border: 1px solid #2BC5B4;
    color: #2BC5B4;
    transition: 0.2s;
    cursor: pointer;
    font-weight: 600;
}

.play-list-button button i {
    margin-right: 6px;
    font-weight: 400;
}

.play-list-button button:hover {
    color: #258F83;
    border: 1px solid #258F83;

}

/* ----------------------------------------------- Main Screen ---------------------------------------------- */


.albums {
    position: relative;
    padding: 2rem;
    width: 79vw;
    width: 100%;
    padding-right: 10vw;
    overflow: scroll; 
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.albums h1 {
    font-size: 1.6em;
    color: #3E3E3E;
    font-weight: 600;
    line-height: 2px;
}

.albums h3 {
    color: #3E3E3E;
    margin-bottom: 1rem;
}

.row {
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
}

.song {
    text-align: center;
    max-width: 14rem;
    padding: 0.4rem;
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    flex-shrink: 5;
}



.song img {
    min-width: 81px;
    max-width: 100%;
    border-radius: 5px;
}

.song h6 {
    font-weight: 600;
    margin: 0;
    margin-top: 10px;
    color: #4c4c4c;
    font-size: 0.8rem;
}

.song p {

    font-weight: 500;
    color: #3E3E3E;
    margin-top: 0px;
    font-size: 0.7rem;
}

.song p,
h6 {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ---------------------------------------- Queue -------------------------------------------- */

.queue {
    position: absolute;
    right: -24rem;
    top: 2.4rem;
    width: 30rem;
    height: 75vh;
    background-color: red;
    transition: 0.3s;
}


.queue:hover {
    transition: 0.4s 0.3s;
    right: 0rem;
}



/* -----------------------------------------------------------------------   player    ----------------------------------------------------------------------- */

.player {
    position: relative;
    bottom: 0px;
    border-top: 2px solid gray;
    height: 8vh;
    background-color: pink;
    position: absolute;
    width: 100%;
    z-index: 1;
}