@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

*::selection {
    background-color: #2BC5B4;
    color: white;
}

body {
    font-family: "Inter";
    background-color: #F6F6F6;
    overflow: hidden;
    margin: 0;
    width: 100vw;
    height: 100svh;
}


/* ---------------------------------------- Queue -------------------------------------------- */

.queue {
    position: absolute;
    right: 2rem;
    top: 2.4rem;
    width: 25rem;
    height: 75vh;
    background-color: red;
    transition: 0.3s;
    border-radius: 15px;
    box-shadow: -1px 0px 10px rgb(108, 108, 108);
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 22%, rgba(55,66,215,1) 78%);
    display: none;
}


.queue:hover {
    transition: 0.4s 0.3s;
    right: 0rem;
}

.queue-head{
    background-color: white;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid;
    height: 1rem;
    padding: 1rem 0.5rem;
}
.queue-head p{
    margin: 0;
}


@keyframes sidebar-closing {
    0% {
        left: 0px;
    }

    100% {
        left: -250px;
    }
}

@keyframes sidebar-opening {
    0% {
        left: -250px;
    }

    100% {
        left: 0px;
    }
}