@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

*::selection {
    background-color: #2BC5B4;
    color: white;
}

body {
    font-family: "Inter";
    background-color: #F6F6F6;
    overflow: hidden;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.main {
    overflow: hidden;
    position: relative;
    height: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.2rem;
    margin-left: 5px;
    font-family: "Playfair Display", serif;
}

.navigation {
    width: 100vw;
    margin: auto;
    display: flex;
    padding-left: 1rem;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    position: relative;
    z-index: 5;
    border-bottom: 0.21px solid rgb(190, 190, 190);
    box-shadow: 0px 0px 15px;
}

/* --------------------------------------------------  Navigation Left Nav Options   -------------------------------------------------------- */


.left-nav-option {
    display: flex;
    width: 25vw;
    max-width: 330px;
    min-width: 172px;
    justify-content: space-between;
}

.nav-options {
    margin: auto 1rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.nav-options a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0px 6px;
    font-family: 'Noto Sans', Courier, monospace;
}

.brand {
    display: flex;
}

.brand img {
    height: 2.5rem;
    border-radius: 50%;
    margin: auto;
}

/* --------------------------------------------------  Search Bar Input   -------------------------------------------------------- */

.search-bar {
    display: flex;
    width: 43%;
    position: relative;
    align-items: center;
}

.search-bar input {
    width: 100%;
    height: 2.4rem;
    border-radius: 30px;
    text-align: center;
    border: none;
    outline: none;
}

.search-bar i {
    position: relative;
    left: 39%;
    color: #888;
    font-size: 0.9rem;
}

.search-bar input::placeholder {
    font-size: 0.9rem;
}


/* --------------------------------------------------  Login Account   -------------------------------------------------------- */

.account {
    width: 20vw;
    min-width: 194px;
    margin-right: 1rem;
    height: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

h3 {
    font-size: 1.1rem;
    margin: auto;
    margin-right: 4px;
    font-family: "Playfair Display", serif;
}

.account img {
    margin: 0 1rem 0 0.7rem;
    height: 3.2rem;
    width: 3.32em;
    border-radius: 50%;
}




/*  --------------------------------------------  Content      -------------------------------------------------------------------------- */

.content {
    position: relative;
    height: 80%;
    width: 100%;
    display: flex;
    padding-right: 20px;
}


.box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    min-width: 100%;
    padding-left: 1.5rem;
    box-sizing: border-box;
    overflow: hidden;
}

h4 {
    color: #828DA8;
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 2rem;
}

.box a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.700);
    line-height: 1.8rem;
    margin-bottom: 0.6rem;
    font-weight: 600;
    font-size: 0.9rem;
    width: 90%;
    padding-left: 1rem;
    font-family: 'Noto Sans', Courier, monospace;
}

.box i {
    margin-right: 0.4rem;
    font-size: 1.2rem;
}

.box a:hover {
    color: rgb(0, 0, 0);
}

.myPlayLists {
    width: 100%;
}

.myPlayLists a:hover {
    background-color: #2A2D36;
    border-radius: 6px;
    color: whitesmoke;
}

.play-list-button button {
    padding: 0.8rem 1rem;
    margin-left: 1.5rem;
    border-radius: 20px;
    border: 1px solid #2BC5B4;
    color: #2BC5B4;
    transition: 0.2s;
    cursor: pointer;
    font-weight: 600;
}

.play-list-button button i {
    margin-right: 6px;
    font-weight: 400;
}

.play-list-button button:hover {
    color: #258F83;
    border: 1px solid #258F83;

}

/* ----------------------------------------------- Main Screen ---------------------------------------------- */


.albums {
    height: 101%;
    position: relative;
    padding: 2rem;
    width: 79vw;
    width: 100%;
    padding-right: 10vw;
    padding-left: 0.3rem;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
}

.albums h1 {
    font-size: 1.6em;
    color: #3E3E3E;
    font-weight: 600;
    line-height: 2px;
    margin-left: 1.5rem;
}

.albums h3 {
    color: #3E3E3E;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}

.container {
    width: 103%;
    display: flex;
    position: relative;
    align-items: center;
    margin: 0 0rem 1rem 0.3rem;
}

.row {
    display: flex;
    width: 96%;
    overflow-x: auto;
    margin-bottom: 1rem;
    padding-left: 1rem;
    box-sizing: border-box;
}

.fa-greater-than {
    position: absolute;
    right: 1rem;
    top: 34%;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
    opacity: 0;
}

.fa-less-than {
    position: absolute;
    margin-right: 1rem;
    top: 27%;
    left: -1rem;
    font-size: 0.8rem;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s;
    background-color: #F6F6F6;
    border-radius: 50%;
    padding: 1rem;
    z-index: 1;
}

.container:hover .fa-greater-than {
    transform: translateX(10px);
}

.container:hover .fa-less-than {
    transform: translateX(-10px);
}

.song {
    width: calc(100% / 7);
    flex-shrink: 0;
    text-align: center;
    padding: 0.7rem;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 0.1rem;
    position: relative;
    height: 100%;
}

.row::-webkit-scrollbar {
    display: none;
}

.row {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.song img {
    min-width: 81px;
    max-width: 100%;
    border-radius: 5px;
    max-height: 258px;
    transition: 0.5s;
}


.song:hover>img {
    filter: brightness(0.3);
}

.song {
    position: relative;
}

.play-button {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 1.2rem;
    color: whitesmoke;
    padding-top: 0.6rem;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    width: 45px;
    height: 40px;
    display: none;
    padding-left: 3px;
    transition: 0.3s;
    z-index: 2;
}

.song:hover .play-button {
    display: block;
}

.song:hover>.play-button {
    display: block;
}

.song h6 {
    font-weight: 600;
    margin: 0;
    margin-top: 10px;
    color: #1c1c1c;
    font-size: 0.9rem;
    font-family: 'Noto Sans', Courier, monospace;
}

.song p {
    font-weight: 500;
    color: #7f7f7f;
    margin-top: 0px;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: "Sour Gummy", serif;
}

.song p,
h6 {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* ---------------------------------------- Queue -------------------------------------------- */

.queue {
    position: absolute;
    right: -24rem;
    top: 2.4rem;
    width: 30rem;
    height: 75vh;
    background-color: red;
    transition: 0.3s;
}


.queue:hover {
    transition: 0.4s 0.3s;
    right: 0rem;
}


/* -----------------------------------------------------------------------   player    ----------------------------------------------------------------------- */

.player {
    bottom: 0px;
    height: 5.5rem;
    position: absolute;
    background-color: #F6F6F6;
    width: 100%;
    z-index: 2;
}

.player input[type="range"] {
    position: absolute;
    top: -7px;
    appearance: none;
    left: -1px;
    width: 100%;
    height: 0.3rem;
    outline: none;
    cursor: pointer;
}


input[type="range"]::-webkit-slider-thumb {
    outline: none;
    position: relative;
    left: -8px;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #2BC5B4;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

input[type="range"]:hover::-webkit-slider-thumb{
    display: block;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #2BC5B4;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

input[type="range"]::-ms-thumb {
    width: 15px;
    height: 15px;
    background: #2BC5B4;
    border-radius: 50%;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------ Current Song -------------------------------------------------------------------- */

.controls-container {
    display: flex;
    bottom: 0px;
    height: 4.5rem;
}

.curr-song {
    width: 35%;
    height: 125%;
    box-sizing: border-box;
    padding: 0.1rem 0;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.curr-song img {
    height: 80%;
    border-radius: 10px;
}

.song-details p {
    width: 92%;
    font-size: 0.9rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 0.2rem;
    font-family: "Sour Gummy", serif;
    color: #7f7f7f;
}

.song-details {
    height: 100%;
    box-sizing: border-box;
    margin-left: 1rem;
    padding-top: 0.5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.song-details h3 {
    margin: 0;
    font-size: 1rem;
    font-family: "Playfair Display", serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ------------------------------------------------------------------------------ Pause Play button -------------------------------------------------------------------- */

.playback {
    width: 28%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playback audio {
    border: 2px solid;
}

.player-buttons {
    width: 230px;
    height: 120%;
    display: flex;
    margin-top: 1rem;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5rem;
}

.play-pause-button {
    cursor: pointer;
}

.play-pause-button:hover {
    color: #676767;
}
.fa-backward-step , .fa-forward-step{
    color: #8a8a8a;
}

/* ---------------------------------------------------------------------------------- Options -------------------------------------------------------------------- */

.options {
    width: 35%;
    height: 122%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.control-system{
    width:30%;
    height: 40%;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.duration p{
    font-family: 'Noto Sans', Courier, monospace;;
    font-size: 1rem;
    color: #676767;
}

/* --------------------------------------------  media query   -------------------------------------------------------------------------- */

@media(min-width:1101px) {
    .sidebar {
        position: relative;
        background-color: #F6F6F6;
        min-width: 14rem;
        height: 100%;
        padding: 1rem 0rem 0 0;
        overflow: auto;
        z-index: 2;
        animation: sidebar-opening 0.6s;
        height: 100%;
    }

    .fa-greater-than {
        right: 1%;
    }

    .play-button:hover {
        height: 50px;
        width: 60px;
        padding-top: 0.7rem;

        font-size: 1.5rem;
    }
}

@media(max-width:1100px) {
    .brand h1 {
        display: none;
    }

    .left-nav-option {
        justify-content: start;
    }

    .nav-options {
        width: 60%;
    }

    .queue {
        right: -25rem;
    }

    .sidebar {
        background-color: #F6F6F6;
        position: absolute;
        z-index: 1;
        left: -250px;
        animation: sidebar-closing 0.8s;
        height: 100%;
    }

    .fa-less-than {
        left: 0px;
    }

    .play-button {
        top: 40%;
        width: 40px;
        height: 35px;
        font-size: 1rem;
        padding-top: 0.6rem;
        padding-left: 3px;
    }

    .play-button:hover {
        height: 45px;
        width: 55px;
        padding-top: 1rem;
    }

    .fa-greater-than {
        right: 2%;
    }

    .song-details p {
        width: 85%;
    }
}



@keyframes sidebar-closing {
    0% {
        left: 0px;
    }

    100% {
        left: -250px;
    }
}

@keyframes sidebar-opening {
    0% {
        left: -250px;
    }

    100% {
        left: 0px;
    }
}